<!--The content below is only a placeholder and can be replaced.-->
<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" [routerLink]="['/home']">{{title}}</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <span class="glyphicon glyphicon-home"></span>
          <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Inicio</a>
        </li>
        <li>
          <span class="glyphicon glyphicon-star"></span>
          <a [routerLink]="['/animals']" [routerLinkActive]="['activado']">Animales</a>
        </li>
        <li>
          <span class="glyphicon glyphicon-user"></span>
          <a [routerLink]="['/keepers']" [routerLinkActive]="['activado']">Cuidadores</a>
        </li>
        <li>
          <span class="glyphicon glyphicon-gift"></span>
          <a [routerLink]="['/shop']" [routerLinkActive]="['activado']">Tienda</a>
        </li>
        <li>
          <span class="glyphicon glyphicon-comment"></span>
          <a [routerLink]="['/contact']" [routerLinkActive]="['activado']">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<hr/>
<div class="col-lg-12">
  <router-outlet></router-outlet>
</div>
<hr/>
