<div class="col-lg-10">
    <h3>{{title}}</h3>

    <form #formAdd="ngForm" (submit)="onSubmit();">
        <p>
            <label>Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="animal.name" 
                class="form-control" required/>
            <span *ngIf="!name.valid && name.touched">
                El nombre es obligatorio
            </span>
        </p>
        <p>
            <label>Descripción</label>
            <textarea  name="description" #description="ngModel" [(ngModel)]="animal.description" 
                class="form-control" required></textarea>
            <span *ngIf="!description.valid && description.touched">
                la descripción es obligatoria
            </span>
        </p>
        <p>
            <label>Año</label>
            <input type="text" name="year" #year="ngModel" [(ngModel)]="animal.year" 
                class="form-control" required/>
            <span *ngIf="!name.valid && year.touched">
                El año es obligatorio
            </span>
        </p>
        <p>
            <label>Imagen del animal</label>
            <input type="file" placeholder="Subir imagen ..."/>
        </p>
        <input type="submit" value="{{title}}" class="btn-success">
    </form>
</div>