<div class="col-lg-8 col-lg-offset-2" [@fadeIn]>
    <div class="jumbotron">
        <h2>{{title}}</h2>
        <p>Disfruta de los animales exóticos de nuestro ZOO</p>
        <p>
            <a [routerLink]="['/animals']" class="btn btn-lg btn-primary" role="button">Ver animales</a>
            <a [routerLink]="['/keepers']" class="btn btn-lg btn-success" role="button">Ver cuidadores</a>
            <a [routerLink]="['/contact']" class="btn btn-lg btn-warning" role="button">Contacte con nosotros</a>
        </p>
    </div>
</div>